

a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
}

ul {
  list-style-type: none;
}

.App-header {
  text-align: center;
  margin-bottom: 10vh;
}

.App-header img {
  max-width: inherit;
  max-height: inherit;
}

.auth-form {
  margin-top: 25vh;
}

.Blog h1 {
  margin-top: 20vh;
  text-align: center;
}

.blogPostTitle {
  margin-top: 10vh;
}

.main {
  margin-top: 56px;
}

.register-form {
  margin-top: 25vh;
}

.tui-image-editor-header-logo {
  visibility: hidden;
}

.tech-stack div {
  margin: 0px;
}

#blogPost {
  width: 100%;
  height: 70vh;
}

#blogTitle {
  width: 100%;
}
