

a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
}

ul {
  list-style-type: none;
}

.App-header {
  text-align: center;
}

.App-header img {
  max-width: inherit;
  max-height: inherit;
}

.Home .col-12 {
  margin-bottom: 10vh;
}

.main {
  margin-top: 56px;
}

.tui-image-editor-header-logo {
  visibility: hidden;
}

.tech-stack div {
  margin: 0px;
}
